<div class="container mt-5 mb-5">
    <form>
        <div class="row">
            <div class="col-lg-6 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Digite seu primeiro nome">
            </div>
            <div class="col-lg-6 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Digite seu ultimo nome">
            </div>
            <div class="col-lg-12 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Digite seu e-mail">
            </div>
            <div class="col-lg-12 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Digite sua mensagem">
            </div>
            <div class="col-lg-12 mt-2 mb-2">
                <button class="btn btn-md btn-dark">enviar </button>
            </div>
        </div>
    </form>
</div>