<div class="container mt-5 mb-5">
        
    <div class="row"> 
    
        <div class="col-lg-6" *ngIf="menudata">
                <a routerLink="../../menu"class="btn btn-sm btn-dark mb-3">Voltar</a>
                <img src="{{menudata[0].choppImg}}" width="100%"/>
                <h1>{{menudata[0].foodName}}</h1>
                <p>{{menudata[0].choppDetails}}</p>
                <p>{{menudata[0].choppPrice | currency: 'BRL'}}</p>
        </div>
            
        <div class="col-lg-6">
            <h1>Digite seus dados:</h1>
            <form>                    
                <input type="text" class="form-control" placeholder="Digite seu nome:"/>
                <input type="text" class="form-control" placeholder="Digite seu numero:"/>
                <textarea class="form-control" placeholder="Digite seu endereço:"></textarea>
                <button class="btn btn-md btn-dark mt-3">Realizar pedido</button>
            </form>
         </div>  
    </div>
</div>
    

 